.mt-2 {
	margin-top: auto !important;
}

.mt-20 {
	margin-top: 20px !important;
}

@media only screen and (max-width: 600px) {
  .mt-2 .mt-20 {
    margin-top: : 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  .mt-2 .mt-20 {
    margin-top: 20px !important;
  }
}