/*Style CSS
 *Technology Artisan
 */
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Mogra');
body{
	background: #202a2d;
}*/
/*--Component*/
/*1. Garis*/
.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    color:  #f1f1f1;
}

.style-three {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    color:  #fff;
}
/*2. Read More*/
.read-more-state {
  	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
	content: 'Tampilkan lebih';
}

.read-more-state:checked ~ .read-more-trigger:before {
	content: 'Sembunyikan';
}

.read-more-trigger {
	cursor: pointer;
	text-align: center;
    transition: all 0.3s ease 0s;
	width: 70%;
	vertical-align: middle;
	padding: 0 .5em;
	color: #1d1c57;
	font-size: .9em;
	line-height: 2;
	border: 1px solid #1d1c57;
	border-radius: .25em;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

/*4. Scroolable*/
#makeMeScrollable
{
	width:100%;
	height: 330px;
	position: relative;
	padding:0 
}
		
#makeMeScrollable div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	max-height: 300px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.image-line{
	margin: 0 0 0 0;
}

/*--END//Component*/

/*.preloader {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	z-index: 999999;
  	background-size: 2px 2px 2px 2px;
  	background-repeat: no-repeat;
  	background-color: #fff;
  	background-image: url('../images/loading.gif');
    background-position: center center;
}*/

#navibar{
	background-color: #212a4d;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height:60px;
	z-index: 300;
	-webkit-box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 10px -1px rgba(0,0,0,0.75);
}
.dashnav a{
	width: 35px;
	height: auto;
	float: left;
	padding: 15px 8px 15px 8px;
	margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #a8a8a8;
    display: block;
    transition: 0.3s
}
.navi-icon{
	margin-top: 10px;
	opacity: 1;
}



/*header logo*/
#logo-header img{
	display: inline-block;
    width: 10%;
    bottom: 5px;
    position: relative;
}

#logo-header{
	min-width: 200px;
    max-width: 800px;
    position: relative;
    left: 20px;
    top: 0;
    width: 80%;
    z-index: 1000;
}
/*end logo header*/

.nav-link{
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}

.col-md-4 img{
	display: inline-block;
    width: 15%;
    position: relative;
}

.navi-link{
	display: block;
	background-color: #fff;
	width: auto;
	min-height: 60px;
	margin: 0 auto;
	padding:0;  
}
.navi-link a{
	text-decoration: none; 
	color: #7e7e7e;
	font-weight: bold;
}

.logo-by{
	display: inline;
	width: auto;
	height: 40px;
	padding-left: 15px;
}
/*#header{
	width:100%;
	min-height: 100vh;
	display:block;
	position:relative;
	/*padding-top: 10vh;*/
	/*background-image: url('../images/unud1.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
.header{
	position: static;
	width: 100%;
	min-height:500px;
	margin: 0 auto; 
	text-align: center;
}

.header .btn-masuk {
  background: #ec6b63;
  border: 2px solid #ec6b63;
  color: #650802;
}

.header .btn-masuk:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

.header .btn-daftar {
  border: 2px solid #fff;
  color: #fff;
}

.header .btn-daftar:hover {
  background: #ec6b63;
  border: 2px solid #ec6b63;
}

/*img header*/
.logo-img{
	display: block;
	text-align: center;
	width: 25%;
	min-width: 200px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;

}

.pendaftaran-body{
	margin-top: 100px;
}

.pendaftaran{
	width: 30%;
}

.carousel-content {
    color:white;
    display:flex;
    align-items:center;
}

#text-carousel {
    width: 70%;
    height: auto;
    /* padding: 50px; */
}

.isi-tulisan p{
	font-size: 10pt;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #212a4d;
}

#cabang-comp{
	margin-left: 35px;
}

@media screen and (max-width:1024px) {
	.video-container {
	    display: block;
	    width: 100%;
	    margin: 0 0 0 0;
	    /* padding-bottom: 10%; */
	}
	.logo-img{
		display: block;
		text-align: center;
		width: 40%;
		min-width: 310px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo-itcc{
		display: none;
	}
	.about-itcc{
		padding-bottom: 30px;
	}
	.read-more-trigger {
		cursor: pointer;
		text-align: center;
	    transition: all 0.3s ease 0s;
		width: 70%;
		vertical-align: middle;
		padding: 0 .5em;
		color: #1d1c57;
		font-size: .9em;
		line-height: 2;
		border: 1px solid #1d1c57;
		border-radius: .25em;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	#brand img{
		display: inline;
	    width: auto;
	    height: 50px;
	    margin-top: 5px;
	    padding-left: 15px;
	}
}
@media (max-width:940px) {
	.video-container {
	    display: block;
	    width: 100%;
	    margin: 0 0 0 0;
	    /* padding-bottom: 10%; */
	}
.logo-img{
		display: block;
		text-align: center;
		width: 40%;
		min-width: 310px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo-itcc{
		display: none;
	}
	.about-itcc{
		padding-bottom: 30px;
	}
	.login-page{
		display: none;
	}

	.read-more-trigger {
		cursor: pointer;
		text-align: center;
	    transition: all 0.3s ease 0s;
		width: 70%;
		vertical-align: middle;
		padding: 0 .5em;
		color: #1d1c57;
		font-size: .9em;
		line-height: 2;
		border: 1px solid #1d1c57;
		border-radius: .25em;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	#brand img{
		display: inline;
	    width: auto;
	    height: 50px;
	    margin-top: 5px;
	    padding-left: 15px;
	}
	
}
@media screen and (max-width:820px) {
	#kat{
		display: none;
	}
	#cabang-comp{
		margin-left: 20px;
		    position: relative;
		    bottom:20px;
	}

	div#lomba.competition-section{
		min-height: 200px;
	}

	div.video-container {
	    display: block;
	    width: 100%;
	    margin: 0 0 0 0;
	    /* padding-bottom: 10%; */
	}

	.logo-img{
		display: block;
	    text-align: center;
	    width: 100%;
	    min-width: 210px;
	    max-width: 200px;
	    margin-top: 30px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.isi-tulisan h3{
		font-size: 15pt;
	}

	.isi-tulisan p{
		font-size: 7pt;
	}

	.login-page{
		display: none;
	}
	.logo-itcc{
		display: none;
	}

	#logo-header img {
    	display: inline-block;
    	width: 20%;
    	position: relative;
	}
	.about-itcc{
		padding-bottom: 30px;
	}
	.read-more-trigger {
		cursor: pointer;
		text-align: center;
	    transition: all 0.3s ease 0s;
		width: 70%;
		vertical-align: middle;
		padding: 0 .5em;
		color: #1d1c57;
		font-size: .9em;
		line-height: 2;
		border: 1px solid #1d1c57;
		border-radius: .25em;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	#brand img{
		display: inline;
	    width: auto;
	    height: 50px;
	    margin-top: 5px;
	    padding-left: 15px;
	}
}
@media screen and (max-width:370px){

	.video-container {
	    display: block;
	    width: 100%;
	    margin: 0 0 0 0;
	    /* padding-bottom: 10%; */
	}

	.logo-img{
		display: block;
	    text-align: center;
	    width: 100%;
	    min-width: 170px;
	    max-width: 100px;
	    margin-top: 30px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.isi-tulisan h3{
		font-size: 10pt;
	}

	.isi-tulisan p{
		font-size: 7pt;
	}
	.col-md-4.login-page{
		display: none;
	}

	#logo-header img {
	    display: inline-block;
	    width: 20%;
	    position: relative;
	}
	.logo-itcc{
		display: none;
	}
	.about-itcc{
		padding-bottom: 30px;
	}
	.read-more-trigger {
		cursor: pointer;
		text-align: center;
	    transition: all 0.3s ease 0s;
		width: 70%;
		vertical-align: middle;
		padding: 0 .5em;
		color: #1d1c57;
		font-size: .9em;
		line-height: 2;
		border: 1px solid #1d1c57;
		border-radius: .25em;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	#brand img{
		display: inline;
	    width: auto;
	    height: 50px;
	    margin-top: 5px;
	    padding-left: 15px;
	}
}
/*end img header*/

#brand img{
	padding-bottom: 5px;padding-right:5px;padding-top: 5px;
}
 
.logo-text{
	font-family: 'League Spartan', cursive;
	color:  #c8db4c;
	font-size: 25pt;
}
.logo-slogan{
	font-family: 'Josefin Sans', cursive;
	color: #fff;
	margin-top: 10px;
	font-size: 20pt;
}

.logo-tanggal{
	color: white;
}

.about-us-section{
	padding-top: 50px;
	width: 100%;
	min-height:400px;
	display:block;
	position:relative;
	/*padding-top: 10vh;*/
	background-color: #fafafa;
	/*background-image: url('../images/bg-about.jpg');*/
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-us img{
	left: 60px;
}

.button-about {
	background-color: transparent;
    color: #650802;
    font-family: Signika;
    font-size: 18px;
    line-height: 39px;
    border-style: solid;
    border-color: #650802;
    /* margin: 25px 25px; */
    /*border-width: initial;*/
    text-align: center;
    transition: all 0.3s ease 0s;
}

.button-about:hover {
	border-color: #ec6b63;
	color: #650802;
  background: #ec6b63;
}

.button-about:active{
	border-color: #ec6b63;
	color: #650802;
  background: #ec6b63;
}

.about-us h1{
	font-family: 'Josefin Sans', cursive;
	color: #1d1c57;
	text-align: left;
	padding-right: 17px;
	padding-left: 5%;
	font-weight: bold;
	padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-us h1 span{
	font-family: 'Mogra', cursive;
	color:  #1d1c57;
	background-color: #304fa0;
	font-weight: bold;
	padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-us h2{
	font-family: 'Josefin Sans', cursive;
	color: #1d1c57;
	font-weight: bold;
	text-align: center;
	padding-right: 17px;
	padding-left: 20px;
	text-align: left;
}

.about-us h2 span{
	font-family: 'Century Gothic', cursive;
	color:  #1d1c57;
	background-color: #a2c8cc;
	font-weight: bold;
	padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-us p{
	text-align: justify;
    text-justify: inter-word;
	font-size: 1.1em;
	padding-right: 5%;
	padding-left: 20px;
	letter-spacing: 1px;
}

.image-25{
	width: 25%;
	min-height: 150px;
	padding:0;
	margin: 0;
	display: block;
	float: left;
}
.video-container {
	display: block;
	width: 100%;
	margin:0 0 0 0;
	padding-bottom: 10%;
}
.video-container iframe, .video-container object, .video-container embed {
	display: block;
	float: left;
	padding:0;
	margin:0 0 20px 0;
	width: 100%;
}

#thevideo{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

#thevideo iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/*competition*/
.competition-section{
	width: 100%;
	min-height:300px;
	display:block;
	position:relative;
	background-color: #232a4e;
	/*background:url(../images/bg18.jpg);*/
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.competition-section-head{
	position: static;
	background-color: #fafafa;
	background: transparent;
	top:0;
	left:0;
	right:0;
	padding-top: 20px;
	width: 100%;
	height: 80px;
}

/*.competition-section a{
	text-decoration: none;
	text-align: center;
	color: black;
	font-family: 'Josefin Sans', cursive;
	font-weight: bold;
}

.competition-section a:hover{
	text-decoration: none;
	opacity: 0.6;
	color: black;
}*/

.competition-section h1{
	font-family: 'Josefin Sans', cursive;
	color: #fff;
	text-align: center;
	padding:10px;
	padding-top: 20px;
	margin: 0 auto;
	position: static;
}

.competition-section p{
	    color: #000;
    font-family: 'Josefin Sans', cursive;
    text-align: center;
    padding: 10px;
    font-size: 10pt;
    margin: 0 auto;
    position: static;
    font-style: inherit;
    font-weight: 500;
}
.competition-section h1 span{ 
	font-family: 'Mogra', cursive;
	background-color: #c8db4c;
	padding:10px;
	color:  #2a2a63;
	font-weight: bold;
}
.competition-section-body{
	width: 100%;
	display:block;
	position: static;
	padding-top:25px;
	padding-bottom: 25px;
}

.lomba h3{
	margin-top: 10px;
}

.head-lomba{
	opacity: 0.7;
	font-family: 'Josefin Sans', cursive;
	margin-top: 10px;
	width: 100%;
	position: static;
	display: block;
	height: 50px;
	color: #2a2a63;
	text-align: center;
	padding-top: 1px;
	background-color: #304fa0;
}

.head-lomba h4{
	font-weight: bold;
	color: white;
}

.body-lomba{
	width: 100%;
	display:block;
	position: static;
	padding-top:25px;
	padding-bottom: 25px;
	background-color: #fafafa;
	opacity: 0.9;
}

/*.body-lomba img{
	left: 75px;
	top: 25px;
	width: 30%;
}*/



.foot-lomba{
	width: 100%;
	height: 70px;
	position: static;
	background-color: #304fa0;
	margin-bottom: 10px;
	padding-top: 15px;
}

.button-lomba {
	background-color: transparent;
    color: white;
    width: 40%;
    font-weight: inherit;
    font-family: Sans-serif;
    font-size: 10px;
    line-height: 25px;
    border-style: solid;
    border-color: #fff;
    text-align: center;
    top: 15px;
    display: block;
    margin-right: auto;
    transition: all 0.3s ease 0s;
}

.button-lomba:hover {
	border-color: #ec6b63;
	color: #650802;
  background: #ec6b63;
}

.btn-lomba:active{
	border-color: #ec6b63;
	color: #650802;
  background: #ec6b63;
}

.button-cabang {
	background-color: transparent;
    color: #232323;
    font-weight: inherit;
    font-family: Sans-serif;
    font-size: 15px;
    width: 100%;
    line-height: 25px;
    outline-width: 200px;
    border-style: solid;
    border-color: #232323;
    text-align: center;
    margin-top: 5px;
  /*  padding-right: 20px;
    padding-left: 20px;*/
   /* margin-left: 60px;*/
    transition: all 0.3s ease 0s;
}

.button-cabang:hover {
	border-color: #a2c8cc;
	color: #2b2a64;
  background: #a2c8cc;
}

.btn-cabang:active{
	border-color: #a2c8cc;
	color: #2b2a64;
  background: #a2c8cc;
}

.button-login {
	background-color: transparent;
    color: #fff;
    font-weight: inherit;
    font-family: Sans-serif;
    font-size: 15px;
    width: 80%;
    line-height: 25px;
    border-style: solid;
    border-color: #fff;
    text-align: center;
        display: block;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s ease 0s;
}

.button-login:hover {
	border-color: #c8db4c;
	color: #2b2a64;
  background: #c8db4c;
}

.btn-login:active{
	border-color: #c8db4c;
	color: #2b2a64;
  background: #c8db4c;
}

/*.btn:hover{
	color: #fff;
}*/


/*.competition-box{
	width: 100%;
	min-height: 400px;
	position: static;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.9;
}
.competition-box-head{
	position: static;
	width: 100%;
	height: 80px;
	display: block;
	background-color:#c8db4c;
	padding: 15px;
}
.competition-box-head h3{
	font-family: 'Kaushan Script', cursive;
	color: #ffffff;
	text-align: center;
	margin: 0 auto;
}
.competition-box-body{
	position: static;
	width: 100%;
	display: block;
	padding:10%; 
	text-align: center;
	background-color:#fff;
}
.competition-box-foot{
	position: static;
	width: 100%;
	height: 60px;
	display: block;
	background-color:#c8db4c;
	padding: 15px;
	text-align: center;
}
.picture-box{
	display: inline;
	width: 210px;
	height: auto;
	margin-bottom: 30px;
	opacity: 1;
}*/


.map-section{
	position:relative;
	width: 100%;
	height:300px;
	background-color: #FAFAFA;
}
.contact-section{
	position: relative;
	width: 100%;
	min-height:160px;
	display:block;
	position:relative;
	/*background:url(../images/bg16.jpg); */
	background-position: center top;
	background-color: #262a4f;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact-section-head{
	position: static;
	background-color: #bc7535;
	top:0;
	left:0;
	right:0;
	display: block;
	width: 100%;
	min-height: 60px;
	border-bottom: 1px solid #fff;
}
.contact-section-head h1{
	font-family: 'Century Gothic', cursive;
	color: #ffffff;
	text-align: center;
	padding:10px;
	margin: 0 auto;
	position: static;
}
.contact-section-body{
	width: 100%;
	min-height: 400px;
	display:block;
	position: static;
	padding-top: 60px;
}
.contact-box{
	width: 100%;
	min-height: 100px;
	position: static;
	margin-top:20px;
	margin-bottom: 20px;
	/*opacity: .9;*/
}
.contact-box-head{
	position: static;
	width: 100%;
	height: 50px;
	display: block;
	background-color:#212a4d;
	padding: 15px;
}
.contact-box-head h3{
	font-family: 'Kaushan Script', cursive;
	color: #ffffff;
	text-align: center;
	margin: 0 auto;
}
.contact-box-body{
	position: relative;
	width: 100%;
	min-height: 100px;
	display: block; 
	background-color:#fff;
	overflow: hidden;
	padding: 20px;
}
.contact-box-body > p.contact-list{
	font-family:  Tahoma, Geneva, sans-serif;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.contact-box-body > p.contact-mail{
	font-family:  Tahoma, Geneva, sans-serif; 
	font-size: 1.8em;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.sosmed{
	width: 120px;
	height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.sosmed-icon{
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: auto;
	float: left;
}
.contact-box-foot{
	position: static;
	width: 100%;
	height: 15px;
	display: block;
	background-color:#bc7535;
}
#footer{
	position:absolute;
	display: block;
	width: 100%;
	min-height: 5vh;
	background-color:#232323;
	z-index: 0;
}
#footer p{
	color: #fff;
	text-align: center;
	margin: 5px;
}

/*Halaman Lainnya*/
#bgpic-contents{
	display: block;
	min-width:100%;
	min-height: 100vh;
	height: auto;
	position:relative;
	padding-bottom: 30px;
	background-image: url(../images/homeitcc2017.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box{
	width: 100%;
	height: auto;
	position: static;
	padding-top: 0px;
	padding-bottom: 10px;
}
.box-head{
	position: static;
	width: 100%;
	    padding-top: 20px;
	min-height: 70px;
	display: block;
	background-color:#212a4d;
	padding-bottom: 15px;
	opacity: 1;
}
.box-head h3{
	color: #ffffff;
	text-align: center;
	margin: 0 auto;
	opacity: 1;
}

.box-head h3 span{
	font-family: 'Mogra', cursive;
	color:  #2a2a63;
	background-color: #c8db4c;
	font-weight: bold;
	padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.box-head h4 span{
	font-family: 'Mogra', cursive;
	color:  #2a2a63;
	background-color: #c8db4c;
	font-weight: bold;
	padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box-head h4{
	font-family: 'Josefin Sans', cursive;
	color: #ffffff;
	padding-top: 25px;
	text-align: center;
	margin: 0 auto;
	opacity: 1;
}
.box-body{
	position: static;
	max-width: 100%;
	min-height: 10px;
	display: block;
	padding:15px; 
	font-family: 'Arial';
	font-weight: 0px;
	text-align: center;
	background-color:#fafafa;
}
.box-body p{
	text-align: center;
}

.box-body h4{
	/*font-family: 'Roboto', cursive;*/
	color: #000;
	text-align: center;
	opacity: 1;
	margin-bottom: 15px;
}
.box-foot{
	position: static;
	width: 100%;
	padding-top: 10px;
	min-height: 10px;
	display: block;
	background-color:#212a4d;
	padding-bottom: 10px;
	opacity: 1;
}
.box-body-col{
	font-family: 'Century Gothic' cursive;
	border: 2px solid #d7d7d7;
	background-color:#fff; 
    border-radius: 8px;
    width: 100%;
    min-height: 15px;
    padding:15px; 
    margin-top:10px;
    margin-bottom:10px;
    opacity: 1;
}

.box-body-col h4{
	font-family: 'Century Gothic', cursive;
}

.tabel-container{
	width: 100%;
	height: auto;
	overflow: auto;
	padding:1px; 
}

.control-label{
	font-family: 'Century Gothic',cursive;
}

#bg-contents{
	min-width:100%;
	min-height: 100vh;
	height: auto;
	position:relative;
	padding-top: 80px;
	padding-bottom: 30px;
	background-image: url(../images/homeitcc2017.jpg);
    background-attachment: fixed;
}
.sidenav{
	margin-top: 60px;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 301;
    top: 0;
    left: 0;
    background-color: #232323;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 2px 5px 10px -1px rgba(0,0,0,0.75);
}
.sidenav a {
    padding: 10px 8px 10px 32px;
    text-decoration: none !important;
    font-size: 25px;
    color: #dbdbdb;
    display: block;
    transition: 0.9s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.img-pad{
	display: block;
	min-width: 200px;
	width:70%;
	height: auto;
	margin-right: 25%;
	margin-left : 25%;
	margin-top: 20px;
	/*margin-bottom: 20px; */
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
.button {
	background-color: transparent;
    color: #fff;
    font-family: 'Signika', sans-serif;;
    font-size: 13px;
    line-height: 20px;
    border-style: solid;
    border-color: white;
    /* margin: 25px 25px; */
    /*border-width: initial;*/
    text-align: center;
    transition: all 0.3s ease 0s;
}

.button-masuk {
	background-color: #fff;
    color: #ec6b63;
    font-family: 'Signika', sans-serif;;
    font-size: 13px;
    line-height: 20px;
    border-style: solid;
    border-color: white;
    /* margin: 25px 25px; */
    /*border-width: initial;*/
    text-align: center;
    transition: all 0.3s ease 0s;
}

.button-masuk:hover {
	color: #870e06;
}

.btn-masuk:active{
	border-color: #a2c8cc;
	color: #2b2a64;
  background-color: #a2c8cc;
}

.button:hover {
	border-color: #ec6b63;
	color: #870e06;
  background: #ec6b63;
}

.btn:active{
	border-color: #a2c8cc;
	color: #2b2a64;
  background: #a2c8cc;
}

/*navbar*/
#myNav{
    width: 100%;
/*    border-bottom-color: #2a2a63;*/
}
.fixed {
	position: fixed; 
	top: 0;
	width: 100% 
	height: 50px; 
	z-index: 1;
}

#navbar a:hover{
	border-bottom: solid;
	border-bottom-color: #ec6b63;
	
}

#navbar a:active{
	border-bottom: solid;
	border-bottom-color: #fff;
}

#navbar a:focus{
	border-bottom: solid;
	font-weight: bold;
	border-bottom-color: #ec6b63;
}
/*end navbar*/



/*scroll-down*/
.scroll-down{
	position: absolute;
	bottom: 70px;
	right: 51%;
	left: 49%;
	z-index: 2;
	text-decoration:none;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.scroll-down a:hover {
	opacity: .5;
}

#scroll-down a {
	padding-top: 60px;
}
#scroll-down a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#scroll-down a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#scroll-down a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	background-color: #650802;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.30);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.30);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/*end scroll-down*/

/*modal*/
#myModal{
	padding:0px;
}

.modal .modal-header {
  border-bottom: none;
  padding-top: 30px;
  padding-left: 50px;
  position: relative;
  font-family: 'League Spartan';
}
.modal-body h4{
	text-align: center;
	font-family: 'Josefin Sans', cursive;
}

.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}
/*end modal*/

/*jadwal*/
/* -------------------------------- 

Primary style

-------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *::after, *::before {
  box-sizing: border-box;
}


#jadwal h1{
	font-family: 'Century Gothic', cursive;
	color: #fff;
	text-align: center;
	padding:10px;
	padding-top: 50px;
	position: static;
}
#jadwal h1 span{ 
	font-family: 'Century Gothic', cursive;
	background-color: #c8db4c;
	padding:10px;
	color:  #2a2a63;
	font-weight: bold;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

